#view-exam-answer-body{display: none;}
#result-exam-body{display: none;}
#result-assignment-body{display: none;}
#view-assignment-answer-body{display: none;}
#student-assignment-answer-body{display: none;}
#student-assignment-answer-details{display: none;}
#student-exam-answer-body{display: none;}
#student-exam-answer-details{display: none;}
#student-mark-submited{display: none;}
#view-assignment-published-result{display: none;}
#student-assignment-result-body{display: none;}
#view-exam-published-result{display: none;}
#student-exam-result-body{display: none;}
#content-main-exam{display: none;}
#content-empty-exam{display: none;}
#content-class-exam-question{display: none;}
#content-empty-exam-question{display: none;}
#add-objective-exam-question{display: none;}
#add-subjective-exam-question{display: none;}
#content-main-assignment{display: none;}
#content-empty-assignment{display: none;}
#content-class-assignment-question{display: none;}
#content-empty-assignment-question{display: none;}
#add-objective-assignment-question{display: none;}
#add-subjective-assignment-question{display: none;}

/*coustomizing date picker*/
.ui-datepicker {
	background: black;
    color: #FFF;
    width: 200px;
}
.ui-datepicker td {
    /*border: 1px solid #CCC;*/
    padding: 0;
}

.ui-datepicker-calendar{
	width: 100%;
}
.ui-datepicker-next{
	padding-left: 30px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    /*border: solid #FFF;*/
    /*border-width: 1px 0 0 1px;*/
    /*background: gray;
    color: #FFF;*/
}
